body {
  background: #f3f3f3;
}
input{
  outline: none;
}
header {
  width: 100%;
  height: 64px;
  background: url(../img/vip-bgs.png) 0 0 repeat-x;
  border-bottom: 1px solid #c7c4c5;
  -moz-box-shadow: 0 1px 3px #d8d7d7;
  -webkit-box-shadow: 0 1px 3px #d8d7d7;
  box-shadow: 0 1px 3px #d8d7d7;
}
header div {
  width: 1100px;
  height: 47px;
  margin: 0 auto;
  padding-top: 17px;
}
header .logo {
  display: inline-block;
  margin-left: 18px;
  width: 191px;
  height: 29px;
  background: url(../img/vip-logo.png) 0 -144px no-repeat;
}
header ul {
  float: right;
  display: flex;
  margin-right: 7px;
}
header ul li a {
  display: block;
  height: 30px;
  float: right;
  margin: 0 15px;
  color: #686868;
  line-height: 30px;
}
a:hover {
  color: #0b68c8;
}
.boxLine {
  width: 1100px;
  height: 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
}
.vipBox {
  width: 1100px;
  height: 100px;
  margin: 55px auto 40px;
}
.vipBox ul {
  padding-left: 48px;
  width: 1200px;
}
.vipBox li {
  display: block;
  float: left;
  width: 144px;
  height: 100px;
  margin-right: 80px;
  border-right: 1px solid #dedede;
  padding-left: 61px;
  position: relative;
}
.vipBox li div {
  width: 51px;
  height: 51px;
  position: absolute;
  left: 0;
  top: 0;
}
.vipBox .last {
  border: none;
  margin: 0;
}
.icon_1 {
  background: url(../img/vip-powers.png) 0 -111px no-repeat;
}
.icon_2 {
  background: url(../img/vip-powers.png) -51px -111px no-repeat;
}
.icon_3 {
  background: url(../img/vip-powers.png) -102px -111px no-repeat;
}
.icon_4 {
  background: url(../img/vip-powers.png) -153px -111px no-repeat;
}
h5 {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 700;
}
dd {
  height: 18px;
  line-height: 18px;
}
.foot {
  width: 1100px;
  margin: 55px auto  70px;
  font-size: 12px;
  color: #999;
  text-align: center;
}
.foot p {
  color: #999;
  line-height: 24px;
}
.foot a {
  color: #999;
}
.foot a:hover {
  text-decoration: underline  #999;
}
.foot .gawb:hover {
  text-decoration: none;
}
#returnTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: #0b68c8;
  display: none;
  width: 52px;
  height: 52px;
  background: #fbfbfb url(../img/icon_new.png) 0 0 no-repeat;
  border: #dcdbdb 1px solid;
  text-indent: -9999px;
}
#returnTop:hover {
  background: url(../img/icon_new.png) -52px 0 no-repeat;
}
.on1 {
  background: #0b68c8;
}
.on1 a {
  cursor: auto;
}
